body {
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    margin: 0;
    padding: 0;
    background: url('naem.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1{
    color: cornflowerblue;
    text-align: center;
}

footer{
    scale: 15% 15%;
    float:inherit;
}
.container{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-35%, 0%);
}

.bottomright{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(68%, -15%);
  }