body {
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    margin: 0;
    padding: 0;
    background: url('naem.jpg') no-repeat center center fixed;
}
h1{
    color: cornflowerblue;
    text-align: center;
    font-size: calc(1rem + 2vw);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer{
    scale: 15% 15%;
    float:inherit;
}
.container{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-35%, 0%);
}

.bottomright{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(68%, -15%);
  }